#top-bar {
  background-color: rgb(255, 145, 0);
  padding: 1px;
  padding-left: 35px;
  margin: 5px;
  margin-top: 15px;
}
#top-bar h1 {
  color: white;
  font-family: 'Dancing Script';
  font-size: 3.25rem;
}
#top-bar a {
  text-decoration: none;
}
#top-bar p {
  color: rgb(200, 215, 255);
  font-family: cursive;
  font-size: 1.2rem;
}
hr {
  border-style: dotted none none;
  border-color: rgb(65, 100, 250);
  width: 75%;
  border-width: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  background-color: rgb(65, 100, 250);
  color: white;
  border-radius: 15px;
  font-size: medium;
  font-weight: bold;
  padding: 10px;
  border: none;
}
.btn:hover {
  height: 50px;
}
.btn:active {
  background-color: rgb(25, 75, 175);
}
#btn1 {
  position: absolute;
  top: 90px;
  left: 620px;
}
#btn2 {
  position: absolute;
  top: 90px;
  left: 730px;
}
#btn3{
  position: absolute;
  top: 90px;
  left: 855px;
}
.cont {
  background-color: lightgray;
  margin: 10px;
  padding: 1px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.cont h2 {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont p {
  font-family: 'Roboto';
  padding-left: 30px;
}
#kaleidoscope {
  position: absolute;
  right: 100px;
  top: 320px;
}
#logo {
  position: absolute;
  right: 75px;
  top: 50px;
}
.copy {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}